
:root {
  --primary-color: #ffffff;
  --downloadbtn-color: #00bbff;
  --sharebtn-color: #ffaa00;
  --border-color: #ced4da;
  --font-color: #333333;
  --username-color: #666666;
  --border-raduis: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  position: relative;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

main {
  display: block;
  min-height: 100vh;
  position: relative;
}

.navbar {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  top: 0;
  min-height: fit-content;
}

.navbar img {
  height: 70px;
  margin-right: 15px;
}

.navbar h1 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 5vh;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  width: 100%;
}

.form-container,
.badge-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container p{
  font-size: 15px;
}

.form-container input[type="text"],
.form-container input[type="file"] {
  width: 90%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container input:focus {
  border-color: #00bfff;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px; 
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  max-width: 150px;
}

.download-btn {
  background-color: #00bfff;
  color: white;
}

.download-btn:hover {
  background-color: #009fdc;
}

.generate-btn {
  background-color: #fca503;
  color: white;
}

.generate-btn:hover {
  background-color: #e99502;
}

.badge-container {
  text-align: center;
  padding: 30px 15px;
  position: relative;
}

.badge-container img {
  border-radius: 12px;
  width: 130px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
  
}

.badge-container .img2 {
  margin-top: 10px;
}

.badge-container .img2 img {
  height: 50px; 
  width: auto;
}


.badge-container .name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.badge-container .github {
  font-size: 1rem;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.badge-container .github i {
  color: #333;
}

.badge-container .crafted {
  font-size: 0.9rem;
  color: #777;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .form-container,
  .badge-container {
      max-width: 100%;
  }
}
